# Python cache and compiled files
__pycache__/
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# macOS system file
.DS_Store

# Python virtual environment (if you use one)
.env

# Data folder (optional: only if you want to keep big/raw data private)
data/
